<%- page_header 'About Page' %>
<p>Here is some info about us and our application. We are people which did stuff
with things at places to produce functionality.</p>

<h3>
  Stats About Our App
  <%= link_to 'CSV Export', about_path(format: :csv), class: 'btn btn-xs btn-default' %>
</h3>
<h4>Has Many Relationships</h4>
<p>Not currently available on Heroku</p>
<hr>
<h4>Total Lines of Code</h4>
<%= get_loc_count_formatted %>
<hr>
<h4>Files Sorted by Lines of Code</h4>
<%= get_loc_sorted_formatted %>

