<div class="panel panel-default">
  <div class="panel-heading"><h1>Frequently Asked Questions</h1></div>
  <div class="panel-body">
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><strong>How come I can't connect to the GitHub on the profile page? </strong></h3>
  </div>
  <div class="panel-body">
    You must first register an account on GitHub.com and you will use those same creditials to link to the Student Portal.
  </div>
  <div class="panel-heading">
    <h3 class="panel-title"><strong>How can I change my avatar on my profile?</strong></h3>
  </div>
  <div class="panel-body">
    Your avatar is linked to your GirHub account so you would need to change it in GitHub first.
  </div>
    <div class="panel-heading">
    <h3 class="panel-title"><strong>What if I did not get credit for completing an assignment?</strong></h3>
  </div>
  <div class="panel-body">
    Please see instructor. 
  </div>
  <div class="panel-heading">
    <h3 class="panel-title"><strong>I don't think my merit points have been updated correctly.</strong></h3>
  </div>
  <div class="panel-body">
    Please see instructor. 
  </div>
  <div class="panel-heading">
    <h3 class="panel-title"><strong>How can I add a resouce to the web resources?</strong></h3>
  </div>
  <div class="panel-body">
    Web resources are added by the staff.  Please notify a staff member and they can review and submit the resource if appropriate.
  </div>

</div>