<div class="row">
  <div class="col-md-9">
    <ul id="sortable">
      <li class="ui-state-default">Badges</li>
      <li class="ui-state-default">News</li>
      <li class="ui-state-default"><strong>Coursework</strong><br>
        <% @assignments.each do |assignment| %>
        <%= link_to assignment.name, dashboard_assignment_path(assignment), :style => "color:#2a6496"%>
        <%= assignment.category %>
        <%= assignment.due_date.to_s(:long_ordinal) %><br><% end %></li>
      <li class="ui-state-default">Github</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul id="sortable2">
      <li class="ui-state-default">Today's Schedule</li>
      <li class="ui-state-default">Calendar</li>
      <li class="ui-state-default">To Do List</li>
    </ul>
  </div>
</div>


