<!-- <div class="row">
  <div class="col-md-9">
    <ul id="sortable">
      <li class="ui-state-default">Badges</li>
      <li class="ui-state-default">News</li>
      <li class="ui-state-default">Coursework</li>
      <li class="ui-state-default">Github</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul id="sortable2">
      <li class="ui-state-default">Today's Schedule</li>
      <li class="ui-state-default">Calendar</li>
      <li class="ui-state-default">To Do List</li>
    </ul>
  </div>
</div> -->

  <div class="row">
  <div class="col-lg-12">
  
  <div class="col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               My Merit Badges
            </h3>
         </div>
         <div class="panel-body">           
            Ruby Badge<br>
            JavaScript Badge<br>
            Rails Badge<br>
       <!-- This is just a placeholder until we get badge info merged in -->
         </div>
      </div>
   </div> 




    <div class="col-md-6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Assignments
            </h3>
         </div>
         <div class="panel-body">           
           <% @assignments.each do |assignment| %>
            <td><%= link_to assignment.name, dashboard_assignment_path(assignment) %></td>
            <td><%= assignment.category %></td>
            <td><%= assignment.due_date.to_s(:long_ordinal) %><br><% end %></td>
         </div>
         <end>
  

    

   

  