<div class="row">
  <div class="col-md-9">
    <ul id="sortable">
      <li class="ui-state-default"><div>Badges</div></li>
      <li class="ui-state-default">News</li>
      <li class="ui-state-default">Coursework</li>
      <li class="ui-state-default">Github</li>
    </ul>
  </div>
  <div class="col-md-3">
    <ul id="sortable2">
      <li class="ui-state-default">Today's Schedule</li>
      <li class="ui-state-default">Calendar</li>
      <li class="ui-state-default">To Do List</li>
    </ul>
  </div>
</div>
