<%- page_header 'Leaderboard' %>

<table class='table'>
  <thead>
    <tr>
      <th>Student</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>

        <% @leaders.each do |leader| %>
        <tr>
          <td>
            <ol>
              <li>
                <%= User.find_by(id: leader['user_id']).first_name %>
              </li>
            </ol>
          </td>
          <td><%= leader['sum_points'] %></td>
        </tr>
        <% end %>

  </tbody>
</table>
