<% title @board.title  %>

<table class="table">
  <tr>
    <th width="60%">Conversation Title</th>
    <th width="10%">Comments</th>
    <th width="30%">Last Comment</th>
  </tr>
  <% for conversation in @board.conversations %>
    <tr class="active">
      <td><%= link_to h(conversation.title), board_conversation_path(@board, conversation) %>
      <td><%= conversation.comments.count %></td>
      <td class="right">

      </td>
    </tr>
  <% end %>
</table>
<p><%= button_to "New Conversation", new_board_conversation_path(@board), :class => "btn btn-primary btn-xs", method: 'get', remote: true %></p>
<br>
<div id="modalDiv">
</div>
