<% title @conversation.title  %>


<table>
  <tr>
    <th width="30%">User</th>
    <th width="70%">Comments</th>
  </tr>
  <% @conversation.comments.each do |comment| %>
  <tr>
    <td>
    </td>
    <td>
      <p><%= comment.body %></p>
    </td>
  </tr>
  <% end %>
</table>

<p><%= link_to "New Comment", new_board_conversation_comment_path(@board, @conversation) %></p>
