<%- page_header @member.first_name %>
<h4>Staff Member: <%= "#{@member.first_name}" %></h4>
<p><%= @member.email %></p>
<%= button_to 'Edit Admin', edit_staff_member_path,
                              class: "btn btn-primary",
                              method: :get%>
<%= button_to 'Delete Admin', staff_member_path,
                              class: "btn btn-primary",
                              method: :delete%>


