<%- page_header @member.first_name %>
<h4><%= @member.first_name %></h4>
<br>
<%= button_to 'Edit Location', edit_staff_location_path,
                              class: "btn btn-primary",
                              method: :get%>

<%= button_to 'Delete Location', staff_location_path(@location),
                              class: "btn btn-primary",
                              method: :delete %>
