<table class="table">
  <tr>
    <th width="70%">Discussion Boards</th>
    <th width="30%">Last Comment</th>
  </tr>
  <% for board in @boards %>
    <tr class="active">
      <td><h4><%= link_to h(board.title), board_path(board.id) %></h4>
        <small><%= board.conversations.count %> conversations</small><br /></td>
      <td class="right">
      </td>
    </tr>
  <% end %>
</table>
<%= button_to "New Board", new_board_path, :class => "btn btn-primary btn-xs", method: 'get', remote: true %>
<br>
<div id="modalDiv">
</div>
