<h1>Site#index</h1>
<p>This is just a placeholder view.</p>
<p>Eventually this controller will be used to route initial incoming
traffic to the site off to which section the user should be sent to.</p>

<h1>YOU SHOULD NOT BE SEEING THIS PAGE. IF YOU ARE, SOMETHING WENT WRONG!</h1>
