<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Beakr 2.0, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to Beakr 2.0,<br>
      your temporary password is: <%= @user.temp_password %>
      <br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>