.notebook {
  background-image: image-url('notebook.jpg');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.btn-primary {
  float:left;
  margin-right:5px;
  align:center;
}
