table.discussion tr th {background:#222; color:#fff; padding:0; border:#111 solid 1px;}
table.discussion tr td {border:1px #ccc solid; padding:5px;}
table.discussion tr td.right {background: #eee;}
table.discussion tr td h4 {margin:0; padding:0; font-weight:normal;}
