  <div class="row">
  <div class="col-lg-12">

  <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Locations
            </h3>
         </div>
         <div class="panel-body">
           
            <!-- Button trigger modal -->
           <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Locations">
             Add Location
           </button><br><br>
           <li>Salt Lake City</li>
           <li>Las Vegas</li>
         </div>
      </div>
   </div>  

<!-- Modal -->
<div class="modal fade" id="Locations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a New Location</h4>
      </div>
      <div class="modal-body">
        <%= render 'staff/locations/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-right">Save changes</button>
      </div>
    </div>
  </div>
</div>
             

  <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Courses
            </h3>
         </div>
         <div class="panel-body">  
             <!-- Button trigger modal -->
           <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Locations">
             Add Course
           </button><br><br>  
            <li>Ruby on Rails</li>
            <li>IOS Development</li>
         </div>
      </div>
   </div>   

   <!-- Modal -->
<div class="modal fade" id="Courses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a New Course</h4>
      </div>
      <div class="modal-body">
        <%= render 'staff/courses/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-right">Save changes</button>
      </div>
    </div>
  </div>
</div>

   <div class="col-md-4">
      <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">
               Add Staff Members
            </h3>
         </div>
         <div class="panel-body">    
           <!-- Button trigger modal -->
           <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Locations">
             Add Staff
           </button><br><br>  
            <li>Ted</li>
            <li>Kim</li>
         </div>
      </div>
   </div>

      <!-- Modal -->
<div class="modal fade" id="Courses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Staff Members</h4>
      </div>
      <div class="modal-body">
        <%= render 'staff/courses/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary pull-right">Save changes</button>
      </div>
    </div>
  </div>
</div>

