<h1>Staff::Locations#index</h1>
<p>This is just a temporary view. This will become the locations index page for staff.</p>
<p>Staff can come here to view a list of all current locations, add new ones, delete or edit current existing locations.</p>
