<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li>
                <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-desktop") + ' Dashboard', root_path %>
            </li>
            <li>
                <i class="fa fa-file"></i> Current Page
            </li>
        </ol>
        <h1 class="page-header">Current Page</h1>
    </div>
  </div>

<!-- /.row -->
