<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->

<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-desktop") + ' Dashboard', root_path %>
      <!-- <a href="index.html"><i class="fa fa-fw fa-desktop"></i> Dashboard</a> -->
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-comments") + ' Discussions', root_path %>
      <!-- <a href="tables.html"><i class="fa fa-fw fa-comments"></i> Discussions</a> -->
    </li>
    <li>
      <%=link_to content_tag(:i, nil, :class=>"fa fa-fw fa-bar-chart") + ' Statistics', root_path %>
      <!-- <a href="forms.html"><i class="fa fa-fw fa-bar-chart"></i> Statistics</a> -->
    </li>
    <li>
      <%= link_to content_tag(:i, nil, :class=>"fa fa-fw fa-info-circle") + ' FAQ', root_path %>
      <!-- <a href=""><i class="fa fa-fw fa-code"></i> Code Resources </a> -->
    </li>
  </ul>
</div>
